[user]
	name = Bruno Rocha
	email = brunorocha2674@gmail.com
[alias]
	s = !git status -s
	c = !git add --all && git commit -m
	cm = !git commit -m
	a = !git commit --amend
	aa = !git add --all && git commit --amend
	l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn %C(green)%cr'
	r = !git remote -v
	ra = !git remote add
	rr = !git remote rename
	rd = !git remote remove
	rs = !git remote set-url
	b = !git branch -v
	bd = !git branch -D
	ck = !git checkout
	cb = !git checkout -b
	pm = !git pull o main
	po = !git push o
	pod = !git push o --delete
	pr = !git po && git po --tags
	sr = !git reset --soft HEAD^ && git reset
	g = !git config --global --edit
	patch = !git diff --staged > wip.patch
	alias = !git config --get-regexp '^alias'
[core]
	editor = code --wait
[init]
	defaultBranch = main
[pull]
	rebase = false
[includeIf "gitdir:~/git/orochaa/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/git/unvoid/"]
	path = ~/.gitconfig-unvoid
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
