[user]
	name = Bruno Rocha
	email = brunorocha2674@gmail.com
[alias]
	s = !git status -s
	c = !git add --all && git commit -m
	cm = !git commit -m
	l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
	r = !git remote -v
	ra = !git remote add
	rr = !git remote rename
	b = !git branch -v
	g = !git config --global --edit
	ck = !git checkout
	po = !git push o
	pd = !git push d
	pa = !git po && git pd
	amend = !git add --all && git commit --amend
[core]
	editor = code
[init]
	defaultBranch = master
